<!--<div class="header">-->
<!--  <li>-->
<!--    <a routerLink="" routerLinkActive="active">{{ title }}</a>-->
<!--  </li>-->
<!--  <li>Inicio</li>-->
<!--</div>-->
<header class="header">
  <div class="logo">
    <a routerLink="">{{title}}</a>
  </div>
  <div class="navigationMenu">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="menu-icon"><img src="{{imgUrl}}" alt=""></i>
    </label>
    <ul>
      <li><a routerLink="">Inicio</a></li>
      <li><a class="nav-item" routerLink="/proyectos">Proyectos</a></li>
    </ul>
  </div>
</header>
