<div class="container">
  <section class="landing">
    <div class="middleOpacity">
      <div class="descriptionBox">
        <h1>Desarrollador de software</h1>
        <h3><span class="importantSpan">{{  name  }} </span>Ingeniero en Computación</h3>
        <p>Egresado de la carrera de Ingeniería en computación por parte de la UNAM, busco desarrollar nuevas habilidades en la creación de software, mi mayor conocimiento corresponde con el desarrollo web usando tecnologías como PHP, Angular, Laravel y JavaScript, disfruto de escribir código con el cual crear nuevas herramientas y aplicaciones.</p>
        <div class="media">
          <a href="https://github.com/gerhern" target="blank">
            <img class="mediaImg" src="{{  image  }}" alt="lorem">
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
